<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
<title>Error</title>
</head>
<body>

	<div layout:fragment="contenido">
		<section class="my-5">
			<div class="container">
				<div>
					<br>
					<div class="row">
						<p>Modalidad consumo de servicios Web habilitado.</p>
					</div>
					<div class="row rowDesign">
						<div class="col-md-4 ml-auto">
							<span class="legend">Fecha:</span>
						</div>
						<div class="col-md-8">
							<span th:text="${timestamp}"></span>
						</div>
					</div>
					<div class="row rowDesign">
						<div class="col-md-4 ml-auto">
							<span class="legend">Path:</span>
						</div>
						<div class="col-md-8">
							<span th:text="${path}"></span>
						</div>
					</div>
					<div class="row rowDesign">
						<div class="col-md-4 ml-auto">
							<span class="legend">Error:</span>
						</div>
						<div class="col-md-8">
							<span th:text="${error}"></span>
						</div>
					</div>
					<div class="row rowDesign">
						<div class="col-md-4 ml-auto">
							<span class="legend">Estado:</span>
						</div>
						<div class="col-md-8">
							<span th:text="${status}"></span>
						</div>
					</div>
					<div class="row rowDesign">
						<div class="col-md-4 ml-auto">
							<span class="legend">Mensaje:</span>
						</div>
						<div class="col-md-8">
							<span th:text="${message}"></span>
						</div>
					</div>
					<div class="row rowDesign">
						<div class="col-md-4 ml-auto">
							<span class="legend">Exception:</span>
						</div>
						<div class="col-md-8">
							<span th:text="${exception}"></span>
						</div>
					</div>
					<div class="row rowDesign">
						<div class="col-md-4 ml-auto">
							<span class="legend">Trace:</span>
						</div>
						<div class="col-md-8">
							<span th:text="${trace}"></span>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

</body>

</html>